.outside-box {
  margin-top: 200px;
  position: relative;
  height: 600px;
  width: 600px;
  background-color: rgba(231, 228, 228);
  justify-content: center;
}

h1 {
  margin-top: 40px;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 450px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  justify-content: center;
  background-color: white;
}
.border-text {
  border: 1px solid grey;
  width: 80%;
  height: 40px;
  margin: 20px;
}

.text_box {
  background: transparent;
  height: 40px;
  width: 100%;
  color: grey;
  border: none;
  font-family: monospace;
  padding-left: 15px;
}
.check {
  margin-top: 30px;
  display: inline;
  font-size: 1rem;
  font-weight: bold;
}
.login-btn {
  background: rgba(0, 200, 0);
  border-radius: 8px;
  color: white;
  margin-top: 40px;
  height: 50px;
  width: 80%;
  border-color: rgba(0, 200, 0);
  border: none;
}
