.photo-frame {
  margin: 10px;
  padding: 15px;
  width: 300px;
  border: 5px solid blue;
}
td {
  border-color: purple;
  border-style: solid;
  border-radius: 5px;
  padding: 0px;
}
.black {
  background-color: black;
  font-color: white;
}
.header-row {
  background-color: red;
  font-weight: bold;
  font-style: italic;
  border-color: purple;
  border-style: solid;
  border-radius: 5px;
}
